.tealButton {
  background-color: rgb(62, 200, 177);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: .3rem;
  border: none;
  height: 3rem;
  width: 7.5rem;
  margin-left: 3em;
  box-shadow: 3px 3px 5px 1px #ccc;
}

.Form {  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;

  h2 {
    font-size: 2em;
  }

  div, section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  input[type="text"] {
    width: 100%;
    max-width: 65rem;
    font-size: 0.9rem;
    padding-left: 1rem;
    height: 2.5rem;
    background-color: #fdfafa;
  }

  textarea {
    height: 6rem;
    font-size: 0.9rem;
    padding: 1rem;
    background-color: #fdfafa;
    font-weight: 400;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    /* background-color: #fdfafa;
    background-color: #08b699;
    background-color: #a3e053;
    background-color: #ec66d6; */
    background-color: #ee26cd;
}

  label:hover {
    background-color: #ec66d6;
  }

  label {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: white;
    line-height: 3em;
    height: 3em;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(180, 180, 180);
    border-radius: .3rem;
    margin-right: 3rem;
    width: 9rem;
  }

  label:last-of-type {
    margin-right: 0;
  }

  button:hover {
    background-color: #08b699;
    box-shadow: 3px 3px 5px 1px #ccc;
  }

  button, label {
    cursor: pointer;
  }
}
