.tealButton {
  background-color: #08b699;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  border-radius: .3rem;
  border: none;
  height: 2.5rem;
  width: 10rem;
  margin-left: 3em;
  box-shadow: 3px 3px 5px 1px #ccc;
  margin-top: 2rem;
}

.RequestHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 100vh;
  
  button, li {
    cursor: pointer;
  }

  li {
    list-style-type: none;
    margin: 1rem 0;
    vertical-align: middle;
    padding: 1rem 1.5rem;
    border-radius: .3rem;
    background-color: rgb(180, 180, 180);
    box-shadow: 3px 3px 5px 1px #ccc;
    min-height: 6em;
    min-width: 20em;
    width: 80%;
  }

  li:hover {
    background-color: #a3e053;
    background-color: #3ec8b1;
  }
  
  li:active {
    background-color: #08b699;
  }
}