.Header {
  background-color: rgb(73, 73, 73);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 0 auto;
  padding: 1.1rem 3rem;
  font-size: 3.1rem;

  i {
    color: white;
    height: 200px;
    text-align: center;
  }
}